// Here you can add other styles
.footer {
    font-size: 0.750rem;
    font-family: "Segoe UI";
}

.recuoleft {
    margin-left: 1.9rem;
}

.ui-dialog-titlebar.ui-widget-header {
    background-color: #4994e4 !important;
    background: none;
    color: #f7f7f7;
   }